body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-color: #dddddd;
    width: 960px;
    background-image: url("https://github.com/DorianYoung/Portfolio/blob/master/assets/images/herringbone.png?raw=true");
    overflow: hidden;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
    margin: 0;
    height: 67px;
    width: 100%;
    overflow: hidden;
}

h1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    float: left;
    padding: 16px;
    margin: 0;
    text-align: left;
    overflow: hidden;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
    float: right;
}

li a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
}

#about-me {
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    overflow: hidden;
    margin-top: 20px;
    text-align: left;
    float: left;
    
   
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #cccccc;
    padding: 15px;
}

#bio-image {
    width: 200px;
    padding: 25px;
    
}

p {

}

#contact {
    float: left;
    width: 100%;
}

#portfolio {
    float: left;
    width: 100%;

}








Colors (Pro Tip: Use the Eye Dropper Chrome extension to find the colors that are used on webpages.)

!!Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

!!Footer background color: #666666

!!Main content background color: #ffffff

Main content border color: #dddddd




Fonts:

For heading fonts use font-family: 'Georgia', Times, 'Times New Roman', serif;

!!For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;




Profile image in index.html:

Use a picture of yourself.



Portfolio images:

Save the images to your images folder.



Background images:

The background pattern used was found on Subtle Patterns. You can browse through that site and use whichever pattern you like.



Dimensions:

The entire content and the main section content area is 960px wide.