
/* HTML and Body of page*/

body, html {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-color: #dddddd;
    width: auto;
    background-image: url("https://github.com/DorianYoung/Portfolio/blob/master/assets/images/herringbone.png?raw=true");
    overflow: hidden;
}

/* Header */

header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
    margin-bottom: 20px;
    height: 67px;
    width: auto;
    overflow: hidden; 
}

/* Main heading */

h1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    float: left;
    padding: 16px;
    position: absolute;
    left: 25%;
    margin-top: 0px;
    text-align: left;
    overflow: hidden;
    
}

/* Navigation bar list */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    position: absolute;
    right: 25%;
    top: 4%;
}

/* Navigation bar list items */

li {
    float: right;
    
}

/* Navigation bar links */

li a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    
}

/* Navigation bar links text decoration */

a:link {
    text-decoration: none;
}

/* Navigation bar links visited text decoration */

a:visited {
    text-decoration: none;
}
  
/* Navigation bar links hover text decoration */

a:hover {
    text-decoration: none;
}

/* Navigation bar links clicked text decoration */

a:active {
    text-decoration: none;
}

/* Main content container */

.container {
    width: 50%;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
    margin-top: 20px;
    top: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation bar links text decoration */

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #cccccc;  
}

/* About me section */

#about-me {
    width: 90%;
    padding: 15px;
    overflow: scroll;
    text-align: left; 
}

/* Bio Image */

#bio-image {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px
}

/*About me paragraphs Section*/

p {
    line-height: 1.5;
}

/*Contact Me Section*/

#contact {
    padding: 15px;
    overflow: hidden;
    text-align: left;   
}

/* Portfolio Section */

#portfolio {
    padding: 15px;
    overflow: hidden;
    text-align: left;     
}

/* Footer */

footer {
    background-color: #666666;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    height: 65px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
}

/* Name|Email Forms */

input[type="text"], input[type="email"] {
    width: 99%;
    overflow: hidden;
    color: #777777;
}

/* Message Form */

textarea {
    width: 99%;
    height: 175px;
    color: #777777;   
}

/* Submit Button */

input[type=submit] {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 9px 27px 9px 27px;
    position: absolute;
    left: 16px;
    bottom: 7px;
    overflow: hidden;
}

#p1 {
    position: fixed;
    top: 30%;
    left: 26%;
    width: 200px;
    height: 40px;
    margin: 0;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
    z-index: 100;
}


#basketball {
    width: 200px;
    height: 150px;
    position: fixed;
    left: 26%;
    top: 26%
}

#p2 {
    position: fixed;
    top: 195px;
    left: 375px;
    width: 200px;
    height: 40px;
    margin: 0;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
}


#camera {
    width: 200px;
    height: 150px;
    position: fixed;
    left: 44%;
    top: 26%

}

#p3 {
    position: fixed;
    top: 195px;
    right: 393px;
    width: 200px;
    height: 40px;
    margin: 0;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
}


#jay-z {
    width: 200px;
    height: 150px;
    position: fixed;
    left: 26%;
    top: 52%
}

#p4 {
    position: fixed;
    top: 370px;
    left: 140px;
    width: 200px;
    height: 40px;
    margin: 0;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
}


#nike {
    width: 200px;
    height: 150px;
    position: fixed;
    left: 44%;
    top: 52%
}

#p5 {
    position: fixed;
    top: 81%;
    left: 26%;
    width: 200px;
    height: 40px;
    margin: 0;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
}


#goldendoodle {
    width: 200px;
    height: 150px;
    position: fixed;
    left: 26%;
    top: 78%
}

