body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-color: #dddddd;
    width: auto;
    background-image: url("https://github.com/DorianYoung/Portfolio/blob/master/assets/images/herringbone.png?raw=true");
    overflow: hidden;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
    margin-bottom: 20px;
    height: 67px;
    width: auto;
    overflow: hidden; 
}

h1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    float: left;
    padding: 16px;
    position: absolute;
    left: 123px;
    margin-top: 0px;
    text-align: left;
    overflow: hidden;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    position: absolute;
    right: 120px;
}

li {
    float: right;
}

li a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.container {
    width: 100%;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    float: left;
    border-width: thin;
    margin-top: 20px;
    overflow: hidden;
    position: absolute;
    width: 960px;
    height: auto;
    top: auto;
    right: 120px;
}


#about-me {
    padding: 15px;
    overflow: hidden;
    text-align: left; 
    float: left;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #cccccc;
    
}

#bio-image {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px
}

p {
    line-height: 1.5;

}

#contact {
    padding: 15px;
    overflow: hidden;
    text-align: left;
    
}

#portfolio {
    padding: 15px;
    overflow: hidden;
    text-align: left;     
}

footer {
    background-color: #666666;
    border-color: #cccccc;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    margin: 0;
    height: 67px;
    width: 100%;
    position: fixed;
    left: auto;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
}


